/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --title-color:#DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --background-image: url(../images/cover-image-dark.png);
  --article-title-color: var(--background-color);
  --border-color: var(--accent-color);
  --rec-color: var(--background-color);
  --heder-rec-visibility: visible;
}