/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --title-color:#FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --background-color: #FFF1F7;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-light.png);
  --article-title-color: var(--text-color);
  --border-color: var(--text-color);
  --rec-color: var(--background-color);
  --header-rec-visibility: hidden;

}

@media (prefers-color-scheme: light) {
  :root {
    --title-color:#FFC2E6;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --background-color: #FFF1F7;
    --hover-border-color: rgba(255, 0, 112, 0.4);
    --background-image: url(../images/cover-image-light.png);
    --article-title-color: var(--text-color);
    --border-color: var(--text-color);
    --rec-color: var(--background-color);
    --header-rec-visibility: hidden;
  }
}