/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex mono";
  --title-color:#DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --background-image: url(../images/cover-image-dark.png);
  --article-title-color: var(--background-color);
  --border-color: var(--accent-color);
  --rec-color: var(--background-color);
  --header-rec-visibility: visible;
}